<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <title><%= CGI.escapeHTML(@name) %></title>
    <link><%= @url %></link>
    <language><%= @language || "en" %></language>
    <% @strips.each do |strip| %>
    <item>
      <title><%= CGI.escapeHTML(strip.title) %></title>
      <link><%= strip.link %></link>
      <% if not strip.date.nil? %>
      <pubDate><%= strip.date.strftime("%a, %d %B %Y %H:%M %z") %></pubDate>
      <% end %>
      <guid><%= strip.link %></guid>
      <description>&lt;a href="<%= strip.link %>"&gt;&lt;img src="<%= strip.img_url %>" /&gt;&lt;/a&gt;</description>
    </item>
   <% end %>
  </channel>
</rss>
